* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.header {
  padding: 2rem 0;
}

.videoList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  margin: 0 5rem;
  /* gap: 5rem; */
}

.videoCard {
  border: solid 0.3rem #000;
  border-radius: 0.5rem;
  margin: 0 auto;
  padding: 2rem 2rem;
  width: 100%;
}

.videoCard iframe {
  border: solid 0.2rem #000;
  border-radius: 0.5rem;
  margin: 1rem auto;
  width: 100%;
}

.videoCard button {
  border: solid 0.25rem #000;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.2rem 0.5rem;
}

.Resizer.vertical {
  width: 0.5rem;
  background: #000;

  cursor: pointer;
}

/* @media only screen and (min-width: 1143px) {
  .videoList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin: 0 5rem;
  }

  .videoCard {
    width: 100%;
  }
} */
